// fonts
$fb: var(--size-base);
$ff: var(--family-montserrat);

// colors
$cl: var(--color-primary);
$cl2: var(--color-secondary);
$cl3: var(--color-tertiary);
$tx: var(--color-text);
$bg: var(--color-bg);
